/.venv
/venv
__pycache__/
.env

# Build artifacts
build/
dist/
*.egg-info/
__pycache__/
*.pyc
*.pyo
.openhands/

# BFCL dataset folder
llm_eval/datasets/bfcl/

# WandB
wandb/
artifacts/

# SWE-bench Verified
logs/