/.venv
/venv
__pycache__/
.env

# Build artifacts
build/
dist/
*.egg-info/
__pycache__/
*.pyc
*.pyo
.openhands/

# BFCL
llm_eval/datasets/bfcl/
llm_eval/external/providers/bfcl/result/
llm_eval/external/providers/bfcl/score/

# HalluLens output folder
output/

# WandB
wandb/
artifacts/

# SWE-bench Verified
logs/

.ipynb_checkpoints