# wandb configurations
wandb:
  params:
    entity: horangi
    project: horangi4-dev
    project_dataset: horangi4-dataset

# testmode configurations
testmode: false

# dataset configurations
halluLens:
  split: test
  subset: [precise_wikiqa, mixed_entities, generated_entities]
  limit: 1000
  evaluation:
    abstention:
      model: gpt-4o-mini
    hallucination:
      model: gpt-4o

komoral:
  split: validation
  limit: 1000
  evaluation:
    method: string_match

kobbq:
  split: test
  limit: 1000
  evaluation:
    method: string_match

squad_kor_v1:
  split: validation
  limit: 1000
  evaluation:
    method: char_f1

ifeval_ko:
  split: train
  limit: 1000
  evaluation:
    method: ifeval_strict

mrcr:
  split: train
  params:
    filename: 2needle.parquet        # 4needle/8needle 등으로 변경 가능
    dev: false
    task: 128k                # 예: 128k, 256k, 1m 등
  evaluation:
    method: sequence_match
    params:
      prefix_key: random_string_to_prepend
      require_prefix: true
      strip_prefix: true

haerae_bench_v1:
  subset: [standard_nomenclature, loan_words, rare_words, general_knowledge, history, reading_comprehension]
  split: test
  evaluation:
    method: string_match

korean_parallel_corpora:
  subset: [e2k, k2e]
  split: test
  limit: 1000
  evaluation:
    method: comet_score

korean_hate_speech:
  split: test
  limit: 1000
  evaluation:
    method: string_match

kmmlu:
  split: test
  limit: 10
  evaluation:
    method: "string_match"
    params:
      mcqa: true # 객관식 문제(MCQA) 모드를 활성화합니다.
    
kmmlu_pro:
  split: test
  limit: 10
  evaluation:
    method: "string_match"
    params:
      mcqa: true

kmmlu_hard:
  split: test
  limit: 10
  evaluation:
    method: "string_match"
    params:
      mcqa: true

kobalt_700:
  split: test
  limit: 10
  subset: KoBALT-700
  evaluation:
    method: "string_match"
    params:
      mcqa: true

aime2025:
  split: test
  limit: 10
  subset: null # set to "I" or "II" to evaluate a single set
  evaluation:
    method: "string_match"  # or "math_match"
    params:
      mcqa: true

hrm8k:
  split: test
  limit: 10
  evaluation:
    method: "math_match"
    params:
      extract_final_answer: true # 답변에서 최종 수식/결과를 추출합니다.

hle:
  subset: HLE
  split: test
  limit: 1000
  evaluation:
    method: "string_match"