model:
  name: litellm
  params:
    model_name: gemini-2.5-flash
    provider: gemini
    batch_size: 32
    max_tokens: 1024
    temperature: 0.0
  release_date: 2025-06-17
  model_size: None
  size_category: middle