model:
  name: litellm
  params:
    model_name: grok-4-0709
    provider: xai
    batch_size: 32
    max_tokens: 1024
    temperature: 0.0
  release_date: "2025-07-09"
  model_size: None
  size_category: large